:root {
    --spotify-azul: #539cf2;
    --spotify-verde: #26b758;
    --spotify-negro: #030303;
    --spotify-blanco: white;
    --padding-secciones: 12px;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 100, 300, 400, 500, 700, 900;
    font-style: normal, italic;
}

.cabecera {
    position: sticky;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: var(--spotify-negro);
    color: var(--spotify-blanco);
    height: 50px;
    padding: var(--padding-secciones);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    
    max-width: 80px;
    
}

.menu {
    
    max-width: 20px;
    right: 7px;
}

.prueba-premium {
    background-color: var(--spotify-azul);
    padding: var(--padding-secciones);
    /* background-image: url("../images/premium_dancer.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 50vh;
    color: var(--spotify-blanco);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    height: 100%;

}

.titulo-prueba-premium{
    font-size: 42px;
    padding-top: 100px;
}

.subtitulo-prueba-premium{
    font-size: 22px;
    font-weight: bold;
}

.p-small-prueba-premium{
    font-size: 12px;
    padding-bottom: 20px;
}

.boton-prueba-premium{
    background-color: var(--spotify-verde);
    padding: 15px 120px;
    border-radius: 50px;
    text-decoration: none;
    color: var(--spotify-blanco);
    font-weight: bold;
    font-size: 12px;
}

/* .boton-prueba-premium:hover{
    background-color: black;
} */

.beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 60px;
    padding: var(--padding-secciones);
    padding-top: 30px;
    padding-bottom: 100px;
}

.beneficios-elemento{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    height: 100%;
}

.titulo-beneficio{
    font-size: 32px;
    text-align: center;
}


.imagen-beneficios{
    width: 100px;
}

.texto-beneficios{
    display:flex;
    flex-direction: column;
    gap: 12px;
}

.titulo-beneficios{
    font-size: 18px;
}

.descripcion-beneficios{
    font-size: 14px;
}

.footer{
    background-color: var(--spotify-negro);
    color: var(--spotify-blanco);
    display:flex;
    justify-content: space-between;
    padding: var(--padding-secciones);
    padding-bottom: 70px;
    padding-top: 20px;
    font-size: 11px;
}

.info-footer{
    width: 60%;
}

.info-footer-enlaces{
    display: flex;
    flex-wrap: wrap;
    
    gap: 30px;
    transform: translateY(50%);
}

.info-footer-enlaces li{
    list-style: none;
}

.texto-footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.espana-footer{
    display:flex;
    gap: 20px;
    /* justify-content: flex-end; */
    align-items: flex-end;
}

.espana-footer img{
    width: 30px;
}

