<header class="header">
  <img src="/images/logo.png" alt="logo spotify" class="header__logo">
  <nav class="header__menu">
      <img src="" alt="menu icono" class="header__menu--icon">
      <ul class="menu__nav--list">
          <li class="menu__nav--list-item">Premium</li>
          <li class="menu__nav--list-item">Ayuda</li>
          <li class="menu__nav--list-item">Descargas</li>
          <li class="menu__nav--list-item">|</li>
          <li class="menu__nav--list-item">Registrarse</li>
          <li class="menu__nav--list-item">Iniciar Sesión</li>
      </ul>
  </nav>
</header>
